body
{
    padding-top: 70px;
    background-image: url(/img/black_mamba.png);
}

.container
{
    color: white;
}

#bg
{
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#bg img
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

footer
{
    margin: 50px 0;
}

.caltable
{
    table-layout: fixed; 
}

.modal-content
{
    color: black;
}




<!-- Sets background image  -->
/* body
{
background-image: url(/img/slow_metropolis.gif);
}*/